<a href="https://colab.research.google.com/github/twhetzel/google-colab-demo-notebook/blob/main/Notebook_Versioning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Demo Notebook to explore versioning options
# The versioning steps are documented in https://docs.google.com/document/d/1HDnnlhU1_lQ5DB0WETZ8UnALphmXcJpcjRrfHS6EfKs/edit?usp=sharing

In [2]:
#Imports
import pandas as pd

In [3]:
data = {
    'A': [1, 2, 3, 4, 5],
    'B': ['a', 'b', 'c', 'd', 'e'],
    'C': [True, False, True, False, True]
}
# List of date strings in the format DD/MM/YYYY
dates = ['01/01/2022', '15/02/2022', '28/03/2022', '10/04/2022', '22/05/2022']

# Convert date strings to datetime objects
dates = pd.to_datetime(dates, format='%d/%m/%Y')

# Add the date column to the existing DataFrame
data['Date'] = dates

df = pd.DataFrame(data)
print(df)

   A  B      C       Date
0  1  a   True 2022-01-01
1  2  b  False 2022-02-15
2  3  c   True 2022-03-28
3  4  d  False 2022-04-10
4  5  e   True 2022-05-22